### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Imports

import(S4Vectors)
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, ExpressionSet, MIAME,
                  Versions)
importClassesFrom(methods, character, environment, matrix, missing)
importMethodsFrom(Biobase, AnnotatedDataFrame, annotatedDataFrameFrom,
                  annotation, esApply, exprs, fData, featureData, pData,
                  phenoData, preproc, "preproc<-", protocolData, sampleNames)
importFrom(Biobase, assayDataElement, "assayDataElement<-", assayDataNew,
           copyEnv, MIAME, multiassign)
importFrom(Biostrings, BStringSet, DNAStringSet)
importFrom(methods, callGeneric, is, validObject)
importFrom(stats, quantile)
importFrom(utils, read.csv, write.csv)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes

exportClasses(NanoStringRccSet)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics

export(NanoStringRccSet,
       controlSet, nonControlSet,
       endogenousSet, housekeepingSet,
       negativeControlSet, positiveControlSet,
       endogenousApply, housekeepingApply,
       negativeControlApply, positiveControlApply,
       esSummary, esSweep)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods

exportMethods(NanoStringRccSet,
              controlSet, nonControlSet,
              endogenousSet, housekeepingSet,
              negativeControlSet, positiveControlSet,
              endogenousApply, housekeepingApply,
              negativeControlApply, positiveControlApply,
              esApply, esSummary, esSweep, subset)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions

export(geomMean,
       readNanoStringRccSet,
       readRccFile,
       readRlfFile,
       writeNanoStringRccSet)
