### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Imports

import(S4Vectors)
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, ExpressionSet, MIAME,
                  Versions)
importClassesFrom(methods, character, environment, matrix, missing)
importMethodsFrom(Biobase, AnnotatedDataFrame, annotatedDataFrameFrom,
                  annotation, esApply, exprs, fData, featureData, pData,
                  phenoData, protocolData, sampleNames)
importFrom(Biobase, assayDataNew, copyEnv, MIAME, multiassign)
importFrom(Biostrings, BStringSet, DNAStringSet)
importFrom(methods, callGeneric, is, new, validObject)
importFrom(utils, read.csv, write.csv)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes

exportClasses(NanoStringRccSet)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics

export(NanoStringRccSet)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods

exportMethods(NanoStringRccSet)
exportMethods(esApply, subset)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions

export(readNanoStringRccSet,
       readRccFile,
       readRlfFile,
       writeNanoStringRccSet)
