### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Imports

import(BiocGenerics)
import(S4Vectors)
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, ExpressionSet, MIAME,
                  Versions)
importClassesFrom(IRanges, NumericList)
importClassesFrom(methods, character, environment, formula, list, matrix,
                  missing)
importMethodsFrom(Biobase, AnnotatedDataFrame, annotatedDataFrameFrom,
                  assayData, "assayData<-", esApply, exprs, fData, featureData,
                  fvarLabels, pData, preproc, "preproc<-", protocolData,
                  sampleNames, varLabels)
importMethodsFrom(methods, initialize, show)
importFrom(Biobase, assayDataElement, assayDataElementNames, assayDataNew,
           copyEnv, MIAME, multiassign)
importFrom(Biostrings, BStringSet, DNAStringSet)
importFrom(IRanges, NumericList)
importFrom(methods, as, callGeneric, callNextMethod, is, validObject)
importFrom(stats, as.formula, median, medpolish, quantile)
importFrom(utils, read.csv, write.csv)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes

exportClasses(NanoStringRccSet)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics

export(NanoStringRccSet,
       sData, svarLabels,
       signatureWeights, "signatureWeights<-",
       endogenousSubset, housekeepingSubset,
       negativeControlSubset, positiveControlSubset,
       controlSubset, nonControlSubset, signatureSubset,
       esBy)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods

exportMethods(NanoStringRccSet,
              sData, svarLabels,
              signatureWeights, "signatureWeights<-",
              design, "design<-",
              summary, "[", subset,
              endogenousSubset, housekeepingSubset,
              negativeControlSubset, positiveControlSubset,
              controlSubset, nonControlSubset, signatureSubset,
              esApply, esBy, transform, with)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions

export(readNanoStringRccSet,
       readRccFile,
       readRlfFile,
       writeNanoStringRccSet,
       bgThresh, bgSubtr, fgScale,
       logt, log2t)
